header {
  	height: 80px;
	background: darkblue;
  	padding: 5px;

	font-family: sans-serif;
  	font-size: 2rem;
  	font-weight: 100;
	color: white;
}

footer {
  text-align: center;
}

table {
	border-spacing: 15px;
	border: 1px solid black;
}

thead {
	background: lightblue;
}

#mapid {
	height: 600px;
}
