header {
  	height: 80px;
	background: darkblue;
  	padding: 5px;

	font-family: sans-serif;
  	font-size: 2rem;
  	font-weight: 100;
	color: white;
}

footer {
	text-align: center;
}

ul {
	font-size: 1.2rem;
	list-style-type: none;
}

table {
	width: 400px;
	font-size: 1.2rem;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

thead {
	background: lightblue;
}

th, td {
	height: 40px;
	border-bottom: 1px solid black;
}

.route-choice:hover {
	cursor: pointer;
	background-color: lightgrey;
}

#mapid {
	height: 600px;
}
